.adm-sidebar{
	display:inline_block;
	position:fixed;
	float:left;
	top:80px;
	left:0px;
	bottom:0px;
	width:200px;
	background:#384047;
	min-height:300px;
}
.adm-sidebar-r{
	display:inline_block;
	float:right;
	width:200px;
	min-height:400px;
	background:#d7d6db;
}
.adm-cont{
	display:inline_block;
	float:left;
    position:fixed;
	left:200px;
    right:200px;
    top:80px;
    bottom:0px;
    overflow:scroll;
}

/*Boxes*/

.adm-container {
    content: " ";
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
}

@media (min-width: 768px) {
    .adm-container {
        width: 750px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .adm-container {
        width: 970px;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .adm-container {
        width: 1170px;
        width: 100%;
    }
}


/*Boxes ends*/

.cust-input-group{
	display:inline_block;
	width:200px;
	height:60px;
	float:left;
	background:#50575d;
	font-family:Dosis;
	font-weight:300;
}

.cust-adm-s-btn{
	border:none;
	outline:none;
	border-radius:none;
	background:#8a6798;
	height:30px;
	margin:15px 0px 15px 10px;
	width:40px;
}
.cust-adm-s-btn:focus{
	background:#8a6798;
	border:none;
	outline:none;
}
.cust-adm-s-btn:active{
	border:none;
	outline:none;
}

.cust-adm-search-f{
	border:none;
	outline:none;
	border-radius:none;
	background:#474d53;
	height:30px;
	max-width:140px;
	margin:15px 10px 15px 0px;
	color:#cdc1d1;
}
.cust-adm-search-f:focus{
	border:none;
	outline:none;
	border-radius:none;
	background:#000;
	box-shadow:none;
}

.adm-path-panel{
	display:inline_block;
	float:left;
	font-family:Dosis;
	font-weight:600;
	color:#483450;
	font-size:200%;
	padding:10px 0px 0px 40px;
}

.adm-NavTop{
	background:#384047;
	height:20px;
	width:100%;
}

.adm-NavBottom{
	background:#8a6798;
	height:60px;
	width:100%;
}
.cust-list-group{
	float:left;
	background:#384047;
	font-family:Dosis;
	font-weight:300;
}

.cust-list-group > li{
	float:left;
	background:#424551;
	width:200px;
	margin:0 0 4px 0;
	border:none;
	outline:none;
	color:#cdc1d1;
	height:35px;
	padding:0;
	
}
.cust-list-group > li > a{
	display:block;
	float:left;
	color:#cdc1d1;
	width:100%;
	height:100%;
	padding:7px 0 0 20px;
}
.cust-list-group > li > a:hover{
	background:#5a5065;	
}

.cust-list-group > li > .adm-act{
	background:#60536e;	
}



/* home page management   */

/* this settings is only for admin */


.adContBB > a{
    border:1px solid #cbcbcb;
}
/*===========*/

.adm-h-toppanel{
    position:absolute;
    top:0px;
    left:0px;
    height:50px;
    width:100%;
    background:#2f2f2f;
}
.adm-nav-btns , .adm-box-gen{
    display:block;
    float:left;
    min-width:100px;
    background:#047db5;
    color:#fff;
    height:30px;
    margin:10px;
    padding:5px 10px 5px 10px;
    border:none;
    border-radius:5px;
    text-align:center;
}
.adm-nav-btns:hover ,.adm-box-gen:hover{
    background:#00b3ee;
    color:#fff;
    cursor:pointer;
}
.adm-nav-btns:active ,.adm-box-gen:active{
    cursor:pointer;
    border-top:#125a7c 2px solid;
}
.adm-box-gen{
    padding:20px;
    font-size:150%;
    height:70px;
    width:200px;
    margin-left:calc( (100% - 200px ) / 2);
}

.adm-homeOuter {
    display:block;
    float:left;
    width:100%;
    margin-top:50px;
}
.adm-homeInner {
    display:block;
    float:left;
    width:100%;
}


.GridOuter{
    display:block;
    float:left;
    width:calc( 100% - 40px);
    max-width:930px;
    margin:20px;
    background:#fff;
    min-height:100px;
}
.Gridhead{
    display:block;
    float:left;
    width:100%;
    min-height:60px;
    background:#504056;
}
.GridCont{
    display:block;
    float:left;
    width:100%;
    min-height:60px;
}

.GridHName,.GridHSettings{
    display:inline-block;
    float:left;
    width:calc(100% - 220px);
    height:50px;
    color:#fff;
    margin:10px 0 10px 0;
    font-family:Dosis;
    font-weight: 100;
}
.GridHName{
    font-size:140%;
    padding:10px;
}
.GridHSettings{
    width:200px;
}
.adm-inp-set{
    display:inline-block;
    float:left;
    width:100px;
    height:50px;
}
.adm-subhead , .adm-inp-numb{
    display:inline-block;
    float:left;
    width:50px;
    height:50px;
    font-family:Dosis;
    font-size:120%;
}
.adm-subhead {
    padding:12px 0 0 7px;
}
.adm-inp-numb{
    padding-left:10px;
    color:#000;
    height:40px;
    margin:5px 0 5px 0;
}
