@media (min-width: 768px) {
    .boxx {
        width: 970px;
    }
}

@media (min-width: 992px) {
    .boxx {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .boxx {
        width: 970px;
    }
}

/* min width */

@media (max-width: 768px) {
    .boxx {
        min-width: 970px;
    }
	.footerH{
		display:none;
	}
}